$default: #555555;
$title: #222222;
$bg: #F3FBF8;



%dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%rosario-700 {
  font-family: 'Rosario-Bold', sans-serif;
  font-weight: 700;
}